:root {
    --shadow-color-light: white;
    /* розовый цвет для светлого оттенка тени */
    --shadow-color: #ff00ff;
    /* розовый цвет для основного оттенка тени */
    --glow-color: hwb(303 29% 0%);
}


body {
    font-family: 'Roboto', sans-serif;

    cursor: url('../content/icon.ico'), auto;

}



.wrapper {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.target-content {
    position: absolute;
    top: 150px;
    left: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: white;

    p {
        animation: neon 3s infinite;
    }

    .target-image {
        transform: scale(1.5);
    }

    img {

        animation: arrow-moving 1s infinite alternate;
    }
}

@keyframes arrow-moving {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(5px);
    }
}

.background {
    background: url('../content/background-cats.jpg') center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-size: 100%;
    }

    100% {
        background-size: 120%;
    }
}



.swiper {
    width: 900px;
    height: auto;
    padding: 15px;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    max-width: 320px;
    height: 400px;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 2px 3px 18px 3px rgba(255, 0, 255, 0.35);
    -moz-box-shadow: 2px 3px 18px 3px rgba(255, 0, 255, 0.35);
    box-shadow: 2px 3px 18px 3px rgba(255, 0, 255, 0.35);
    cursor: url('../content/kitty-small-v2.png'), auto;

    img {
        max-width: 330px;
    }

    
}

.slide__content {
    padding: 24px;
}

.slide-text {
    font-size: 24px;
    text-transform: uppercase;

    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    color: white;
    animation: neon 3s infinite;
}

@keyframes neon {
    0% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
            0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }

    50% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
            0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }

    100% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
            0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
}

.swiper-arrows {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    padding: 0 30px;

    div {
        width: 45px;
        height: 45px;
        background: #ffcfffa1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: url('../content/kitty-small-v2.png'), auto;
        transition: all .3s;

        &:hover {
            background: #ffcfff;
            transform: scale(1.1);
        }
    }
}


.first-page__bottom {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    border-radius: 24px;
    backdrop-filter: blur(10px);
    background: #b97db959;
    border: 2px solid white;
    color: white;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.37) inset;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.37) inset;
    cursor: url('../content/kitty-small-v2.png'), auto;
}

.help-text {
    font-size: 24px;
}

.game-text {
    font-size: 18px;
}


.content-switcher__btn {
    position: relative;
    color: var(--glow-color);
    cursor: url('../content/mouse.png'), auto;
    padding: 15px 24px;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    text-transform: uppercase;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
    font-weight: 900;
    letter-spacing: 5px;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.btn-text {
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.content-switcher__btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.content-switcher__btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.content-switcher__btn:hover {
    color: white;
    text-shadow: none;
    animation: none;
}

.content-switcher__btn:hover .btn-text {
    animation: none;
}

.content-switcher__btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.content-switcher__btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.content-switcher__btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}